h1 {
	background-color: rgb(114, 13, 208);
	text-align: center;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 10px;
}
.colOne {
	background-color: white;
}
.colTwo {
	background-color: rgb(255, 255, 255);
}
.histBtnRow {
	margin-top: 5px;
	margin-bottom: 5px;
}
.grassoline{
  background-color: rgb(113, 216, 113);
}
.lightningmcqueen{
  background-color: yellow;
}
.pumpkin{
  background-color: rgb(223, 126, 8);
}
.marooned{
  background-color: rgb(121, 0, 36);
}
.sunsetpink{
  background-color: rgb(169, 3, 169);
}
.icons {
	height: 70px;
	width: 70px;
}
.cardTodayDate {
	font-size: 20px;
}